[submodule "external/quicklook-rest-with-nimrod"]
	path = external/quicklook-rest-with-nimrod
	url = https://github.com/gradha/quicklook-rest-with-nimrod.git
[submodule "external/seohtracker-logic"]
	path = external/seohtracker-logic
	url = https://github.com/gradha/seohtracker-logic.git
[submodule "external/RHPreferences"]
	path = external/RHPreferences
	url = https://github.com/gradha/RHPreferences.git
[submodule "external/SimpleCocoaGoogleAnalytics"]
	path = external/SimpleCocoaGoogleAnalytics
	url = https://github.com/gradha/SimpleCocoaGoogleAnalytics.git
