[submodule "external/seohtracker-logic"]
	path = external/seohtracker-logic
	url = https://github.com/gradha/seohtracker-logic.git
[submodule "external/RHPreferences"]
	path = external/RHPreferences
	url = https://github.com/gradha/RHPreferences.git
[submodule "external/SimpleCocoaGoogleAnalytics"]
	path = external/SimpleCocoaGoogleAnalytics
	url = https://github.com/gradha/SimpleCocoaGoogleAnalytics.git
[submodule "external/ELHASO-mac-snippets"]
	path = external/ELHASO-mac-snippets
	url = git://github.com/gradha/ELHASO-mac-snippets.git
